<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mistareader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.topics.TopicsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.messages.MessagesActivity"
            android:parentActivityName=".ui.topics.TopicsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.topics.TopicsActivity" />
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                    <!--android:scheme="https"-->
                    <!--android:host="www.forum.mista.ru"-->
                    <!--android:pathPattern="/topic.php*" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.topics.NewTopicActivity"
            android:parentActivityName=".ui.topics.TopicsActivity" />
        <activity
            android:name=".ui.user.UserActivity"
            android:parentActivityName=".ui.messages.MessagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.messages.MessagesActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.forum.mista.ru"
                    android:pathPattern="/users.php*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.user.UserAvatarFullScreen"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/sSettings"
            android:parentActivityName=".ui.topics.TopicsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.topics.TopicsActivity" />
        </activity>

        <receiver
            android:name=".OnBootBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".util.Subscriptions" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="98a71dbf199ef0bf5de29b514c848880a04bf91e" />
    </application>

</manifest>